.feedback{
    margin-bottom: 96px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 8px;
        max-width: 1108px;
        overflow: auto;
        margin: 0 auto;
        min-height: 48px;
    }
    &__item{
        display: flex;
        align-items: center;
        column-gap: 16px;
        padding: 8px 16px;
        border-radius: 9999px;
        background: #FFF;
        color: #000;
        font-family: 'Raleway-Medium', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        white-space: nowrap;
        >span{
            height: 33px;
        }
        span{
            line-height: 30px;
        }
    }
}