.hero{
    position: relative;
    z-index: -1;
    border-radius: 0px 0px 32px 32px;
    background: #FFF;
    margin-bottom: 8px;
    img{
        position: absolute;
        bottom: 0;
        pointer-events: none;
        @media (max-width:1330px) {
            width: 300px;
        }
        @include s_910{
            width: 230px;
        }
        @include s_500{
            width: 150px;
        }
    }
    img:nth-of-type(1){
        left: 0;
        @include s_500{
            width: 90px;
        }
        // @include s_350{
        //     width: 69px;
        // }
    }
    img:nth-of-type(2){
        // @include s_350{
        //     width: 96px;
        // }
       right: 0;
    }
    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 471px;
        @include s_700{
            min-height: 424px;
            align-items: unset;
            padding-top: 60px;
            padding-bottom: 60px;
            box-sizing: border-box;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 900px;
        row-gap: 32px;
        overflow: hidden;
        @include s_700{
            row-gap: 24px;
        }
        @include s_500{
           align-items: flex-start;
        }
    }
    &__title{
        color: #000;
        font-family: 'NeueMachina-Bold', sans-serif;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @include s_1100{
            font-size: 70px;
        }
        @include s_700{
            font-size: 48px;
        }
        @include s_500{
            line-height: 40px;
            font-size: 40px;
        }
    }
    &__description{
        text-align: center;
        font-family: 'Raleway-Medium', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: 690px;
        @include s_1100{
            max-width: 500px;
        }
        @include s_700{
            font-size: 16px;
        }
        @include s_500{
           text-align: left;
        }
    }
}