@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway/Raleway-Medium.ttf');
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../fonts/Raleway/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: 'NeueMachina-UltraBold';
    src: url('../fonts/NeueMachina/NeueMachina-Ultrabold.ttf');
}
@font-face {
    font-family: 'NeueMachina-Bold';
    src: url('../fonts/NeueMachina/NeueMachina-Bold.ttf');
}